@font-face {
  font-family:'Montserrat';
  src: url('../font/Montserrat-VariableFont_wght.ttf');
}
@font-face {
  font-family:'Oswald';
  src: url('../font/Oswald/Oswald-VariableFont_wght.ttf');
}
body{
	margin:0;
	min-width: 320px;
}
/*Navbar section start*/
header{
	display:flex;
	flex-direction:row;
	position:relative;
	z-index:1;
	padding:0 62px;
	background-color:#fff;
}
@media only screen and (max-width: 1320px){
	header{
		height: 50%;
	}
}
nav{
	display:flex;
	flex: 1;
	flex-direction:row;
	padding-top:51px;
	margin-left: 50px;
	justify-content: left;
	font-family: Montserrat;
  	font-weight: 500;
	font-size:18px;
	color:#060606;
}
@media only screen and (max-width: 768px) {
	nav {
		padding-top: 18px;
	}
}

.nav-item{
	padding-left:35px;
}
.nav-item-lv{
	padding-left:51px;
}

.nav-item:hover{
	font-weight:bold;
	cursor:pointer;
}
.nav-item-lv:hover{
	font-weight:bold;
	cursor:pointer;
}
@media only screen and (max-width: 768px) {
	.nav-item , .nav-item-lv{
		display: none;
	}
}
@media only screen and (max-width: 980px) {
	.nav-logo{
		margin-top: -8px;
		width: 77px;
		height: 71px;
	}
}
.black-logo3{
	z-index: 33;
}
.transition-first-container{
	position: relative;
	width: auto;
}
.transition-first{
	position: absolute;
	height: auto;
	top: -15px; 
	left: -1px;
	width: auto;
}
@media only screen and (max-width: 768px) {
	.transition-first{
	top: 0px; 
	height: 19.5284366607666px;
	left: -290px;
	}
}
.transition-top, .transition-first{
	position:absolute;
	width:100%;
	z-index:3;
}
@media only screen and (max-width: 768px) {
	.transition-first {
		min-width: auto;
		margin-top: -7px;
		margin-left: 200px;
	}

	.transition-top {
		min-width: auto;
		margin-top: -6px
	}
}
.overlay-menu{
	background-color: #FFF;
	width: 320px;
	display: none;
	position: absolute;
	z-index: 5;
	margin-left: 20px;
	top: 50px;
}
.nav-menu-open{
	width: 15.000011444091797px;
	height: 14.999695777893066px;
	top: 18px;
	left: 285px;
	margin-left: 200px;
	display: none;
}
@media only screen and (max-width: 900px){
	.nav-menu-open{
		display: inline;
	}
}
.nav-menu-open:active{
	background-color: #FFA800;
}
.menu-mobile{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}
.menu-mobile p{
	font-family: Montserrat;
	font-weight: 500;
}

.menu-mobile p:hover{
	cursor: pointer;
	font-weight: bold;
}
.menu-mobile .active{
	font-weight: bold;
	border-bottom: 3px solid #FFA800;
 }
 .menu-mobile-lang{
	display: flex;
	flex-direction: row;
}
.menu-mobile-lang p{
	margin-right: 30px;
	font-weight: 500;
	font-family: Montserrat;
}
.menu-mobile-lang p:hover{
	cursor: pointer;
	font-weight: bold;
}
@media only screen and (max-width: 900px) {
	.navbar {
		font-size: 14px;
		margin-left: 10px;
	}
	.nav-item{
		padding-left:25px;
	}
	.nav-item, .nav-item-lv{
		display: none;
	}
	.nav-menu-open{
		display: inline;
	}


}
/*Navbar section end*/

/*Main section end*/
.video-placeholder img{
	width: auto;
	z-index:-1;
}
.video-placeholder-div{
	position:relative;
	margin-top:-40px;
}
.center-text-div{
	width:100%;
	text-align: center;
	align-items:center;
}
.center-text{
	font-family: Montserrat;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	margin:auto;
	font-weight: 400;
	padding: 150px 0;
	width: 654px;
	height: 114px;
	flex-shrink: 0;
	color: #2F4858;
}
@media only screen and (min-width: 630px) and (max-width: 900px){
	.center-text {
		width: 53.2%;
		margin-left: 5%;
	}
	.transition-first{
		top: -2px; 
	}
}
@media only screen and (max-width: 630px) {
	.center-text-div{
		padding-top: 0px;
		width: 60%;
	}
	.center-text {
		font-size: 12px ;
		line-height: 15px;
		width: 79.2%;
		padding: 40% 0;
		padding-bottom: 70%;
	}
}
.photos-div-mobile{
	display: none;
}
@media only screen and (max-width: 767px) {
	.supporters-logos{
		margin-left: 70%;
	}
	#photo1,
  	#photo2{
    display: none;
  }
  .photos-div-mobile {
    display: flex;
    flex-direction: row;
	position: relative;
	width: 107%;
  }
  .photos-div-mobile img {
    width: 24%;
  }
  .photos-inner {
    position: relative;
    z-index: 1;
  }
}
.photos-div-row{
	display:flex;
	flex-direction:row;
	width:100%;
}
.photos-div-col{
	display:flex;
	flex-direction:column;
	width:100%;
}
@media only screen and (max-width: 768px) {
	.photos-div-col{
		width: 130%;
	}
}
.photos-inner{
	display:flex;
	flex-direction:column;
	padding-top: 1%;

}
#photo1{
	width:24%;
}
#photo2{
	width:24.5%;
}
#photo3{
	width:22%;
}
#photo4{
	width:29.5%;
}
.transition-bottom{
	position:absolute;
	width:100%;
	z-index:3;
	margin-top:-3%;
}
@media only screen and (max-width: 900px) {
	.transition-bottom {
		min-width: auto;
	}
}
.buttons-div{
	padding: 150px 0;
	display:flex;
	flex-direction:row;
	width:100%;
}
@media only screen and (max-width: 900px) {
	.buttons-div {
		width: 79.2%;
		margin:auto;
		justify-content: left;
	}
	.buttons-div div:first-child {
		margin: 0 min(18.5%, 10px) 0 0;
		font-size: 18px;
	}
	.buttons-div div:last-child {
		font-size: 18px;
	}
}
@media only screen and (max-width: 630px) {
	.buttons-div {
		flex-direction: column;
	}
	.buttons-div-inner-buttons{
		margin-top: 0;
		margin-bottom: 80px;
	}
	.buttons-div-inner-buttons{
		margin-top: 30px;
	}
}
.buttons-div-inner{
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	margin:auto;
	color: #2F4858;
}

.buttons-div-inner-buttons{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	margin:auto;
	margin-top: 50px;
	width: 233px;
	height: 50px;
	background-color: #FFA800;
	border-radius:25px;
	color: #fff;
	transition: all .2s ease-in-out;
}
@media only screen and (max-width: 767px) {
	.buttons-div-inner p {
		padding: 5px;
		font-size: 18px;
		max-width: 280px;
		text-align: center;
	}
	.buttons-div-inner{
		text-align: center;
	}
	.buttons-div-inner-buttons{
		margin-left: 25px;
		margin-right: 500px;
	}
	.buttons-div-inner:first-of-type{
		padding-bottom: 80px;
	}
}
.buttons-div-inner-buttons:hover, .buttons-div-inner-buttons:active{
	cursor:pointer;
	color: gray;
	opacity: 0.8;
}
.input-div{
	align-items: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	color: #2F4858;
}
.input-title{
	margin-bottom: 55px;
}
.input-div-inner{
	display:flex;
	flex-direction:column;
	margin:auto;
	width:612px;
}
@media only screen and (max-width: 768px) {
	.input-div{
		align-items: center;
		font-family: Oswald;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		color: #2F4858;
	}
	.input-div-inner {
		width: 608px;
	}
}
@media only screen and (max-width: 630px) {
	.input-div-inner {
		padding: 0 20px;
		width: auto;
	}
}
.input-div-row{
	display:flex;
	flex-direction:row;
}
@media only screen and (max-width: 630px) {
	.input-div-row {
		flex-direction: column;
	}
}
input{
	display:flex;
	flex:1;
	margin-bottom: 15px;
	background-color: rgba(196, 196, 196, 0.4);
	border: none;
	border-radius: 6px;
	height: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #2F4858;
	padding: 13px;
}
#input-name{
	margin-right: 20px;
	width: 95.5%;
}
@media only screen and (max-width: 630px) {
	#input-name {
		width: 92.5%;;
	}
}
textarea{
	resize: none;
	background-color: rgba(196, 196, 196, 0.4);
	border: none;
	border-radius: 6px;
	height: 206px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #2F4858;
	padding: 13px;
	margin-bottom: 15px;
}
.input-comment{
	text-align:left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #2F4858;
	margin-bottom: 25px;
}
.input-accept{
	display:flex;
	flex:1;
	flex-direction: row;
	margin-bottom: 50px;
}
#input-checkbox{
	width: 16px;
	height:16px;
	border-radius: 3px;
	background-color: rgba(196, 196, 196, 0.4);
}
#checkbox-text{
	display:flex;
	flex:1;
	margin: 0 0 0 21px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #2F4858;
	text-align: left;	
}
#checkbox{
	padding: 0;
	margin: 0;
	width:100%;
	height:100%;
	opacity: 0.3;
	cursor: pointer;
}
.button-send{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 62px;
	text-align: center;
	margin:auto;
	margin-bottom: 150px;
	width: 182px;
	height: 62px;
	background-color: #FFA800;
	border-radius:31px;
	color: #fff;
	transition: all .2s ease-in-out;
  	border: none;
}
.button-send:hover, .button-send:active{
	cursor:pointer;
	cursor:pointer;
	color: gray;
	opacity: 0.8;
}
.supporters-div{
	display: flex;
	flex-direction: column;
	position:relative;
	z-index: 2;
	height: 530px;
	width: 100%;
	background-image: url('../img/orange_ripped.png');
}
@media only screen and (min-width:630px) and(max-width: 900px){
	.supporters-div{
		display: flex;
	flex-direction: column;
	}
}
@media only screen and (max-width: 767px) {
	.supporters-div {
		height: 300px;
		background-image: url('../img/orange_ripped-mobile.png');
	}
}
@media only screen and (min-width: 380px) and (max-width: 400px) {
	.supporters-div {
		width: 120%;
	}
}
@media only screen and (max-width: 768px) {
	.supporters-div {
		height: 400px;
		background-image: url('../img/orange_ripped.png');
		background-size: cover;
	}
}
.supporters-logos {
	flex-direction: row;
	align-self: center;	
}
@media only screen and (max-width: 767px) {
	.supporters-logos {
		margin: auto;
    	padding-left: 15%;
	}
}

.supporters-text{
	padding: 100px 0 70px 0;
	margin: 0;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #2F4858;
}

.logo1, .logo3{
	height: 80px;
	padding: 0 42.5px 20px 0;
}
@media only screen and (max-width: 768px) {
	.logo1 {
		height: 47px;
		padding: 0 5px 15px 0;
		margin: 0 5px;
	}
	.logo3{
		height: 47px;
		padding: 5px 95px 15px 0;
		margin: 0 5px;
	}
}
.logo2{
	height: 120px;
	padding: 0 42.5px;
}
@media only screen and (max-width: 767px) {
	.logo2{
		height: 71px;
		padding: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
	.supporters-div{
		height: 531px; 
	}
	.logo1 {
		height: 47px;
		padding: 0 5px 15px 0;
		margin: 0 5px;
		width: 144px;
	}
	.logo2 {
		height: 47px;
		padding: 0 5px 15px 0;
		margin: 0 5px;
		width: 49px;
	}
	.logo3{
		height: 47px;
		padding: 0 5px 15px 0;
		margin: 0 5px;
		width: 142px;
	}
}
.supporters-logo-mobile{
	display: inline-block;
	justify-content: center;
}
@media only screen and (max-width: a) {
	.supporters-logo-mobile{
		display: flex;
		flex-direction: row;
	}
}
/*Main section end*/

/*Footer section start*/
.bottom-info-wrapper{
	width:auto;
	align-items:center;
	margin-top: -35px;
	background-color: #2F4858;
	color: #FFF;
}
@media only screen and (max-width: 400px) {
	.bottom-info-wrapper {
		width: 150%;
	}
	.supporters-div{
		width: 150%;
	}
}
.bottom-info-div{
	display:flex;
	flex-direction: row;
	max-width: 72%;
	margin: 0 auto;
	background-color: #2F4858;
	color: #FFF;
}
@media only screen and (max-width: 767px) {
	.bottom-info-div {
		flex-direction: column;
		width: auto;
	}
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
	.bottom-info-div {
		height: 80%;
		width: auto !important;
	}
}
.skumlapa-golden-v-logo3{
	margin-bottom: 40%;
}
.bottom-1{
	display:flex;
	width: 182px;
	flex-direction: column;	
	padding: 80px 0 13px 62px;
	align-items: center;
	text-align:left;
}
@media only screen and (max-width: 767px) {
	.bottom-1{
		padding: 60px 0 25px 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
	.bottom-1 p{
		margin-left: 100%;
		margin-right: 100%;
	}
	.skumlapa-golden-v-logo3{
		margin-right: 100%;
	}
}

.bottom-1 p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	width: 395px;
	line-height: 17px;
}
.gold-logo{
	width: 182px;
	height: 182px;
	padding-bottom: 70px
}
@media only screen and (max-width: 767px) {
	.gold-logo{
		align-self: flex-start;
		width: 100%;
		height: 100%;
		padding-bottom: 25px
	}
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
	.bottom-2, .bottom-3{
		display: none;
	}
	.gold-logo{
		float: left;
	}
}
.bottom-2{
	display:flex;
	flex-direction: column;  
	margin-left: 137px;	
	padding: 80px 0 13px 0;
	width: 179px;
	text-align:left;
}
.bottom-2 p{
	padding-bottom: 21px;
	margin: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}
.bottom-2 p:hover, .bottom-2 p:active{
	text-decoration: underline;
	cursor: pointer;
}
.bottom-3{
	display:flex;
	flex-direction: column;  
	margin-left: 82px;	
	padding: 80px 0 13px 0;
	width: 287px;
	text-align:left;
}
.bottom-3 p{
	margin: 0;
	padding-bottom: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}
.bottom-3 p:first-of-type{
	padding-bottom: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}
@media only screen and (max-width: 1320px) {
	.bottom-2, .bottom-3 {
		display: none !important;
	}
}
.bottom-4{
	display:flex;
	flex:1;
	flex-direction: column;	
	padding: 80px 64px 13px 0;
	text-align:right;
}
.requisites{
	display: none;
}
.bottom-4 p{
	margin: 0;
	padding-bottom: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}
.bottom-4 p:first-of-type{
	padding-bottom: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}
.bottom-4 p:nth-last-of-type(2){
	display: none;
}
@media only screen and (max-width: 767px) {
	.bottom-4 p:nth-last-of-type(2) {
		font-size: 11px;
		line-height: 13px;
		padding-right: 10px;
	}
}
.bottom-4 p:nth-last-of-type(4){
	padding-bottom: 52px;	
}

@media only screen and (max-width: 1320px) {
	.bottom-4 p:nth-last-of-type(4){
		padding-bottom: 10px;
	}
}
.bottom-4 img:hover{
	cursor:pointer;	
}
.bottom-4 p:nth-last-of-type(1){
	font-family: Montserrat;
	font-size: 14px;
	padding-top: 50px;
}
@media only screen and (max-width: 767px) {
	.bottom-4 p:nth-last-of-type(1){
		font-size: 11px;
		padding-top: 0px;
	}
	.bottom-4 p:last-of-type {
		font-size: 11px;
		line-height: 13px;
	}
  .gold-logo{
		align-self: flex-start;
		width: 162px;
		height: 162px;
		padding-bottom: 30px;
	}
  .bottom-4 p:nth-last-of-type(2) {
		display: inline;
		padding-top: 51px;
		font-size: 14px;
		line-height: 17px;
	}
  .bottom-1 p:first-of-type {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	header {
		padding: 0 20px;
	}
  .requisites{
		display: inline;
		font-family: Montserrat;
		line-height: 22px;
		font-weight: bold;
	}
  .bottom-4 {
		padding: 0 0 30px 20px;
		text-align: left;
	}
	.bottom-4 .bottom-images{
		padding-top: 30px;
	}
  .bottom-2, .bottom-3 {
		display: none;
	}
  .supporters-text {
		font-size: 34px;
	}

}
@media only screen and (min-width: 769px) and (max-width: 900px) {
	.requisites{
		display: inline;
		font-family: Montserrat;
		line-height: 18px;
		font-weight: 700;
		margin-bottom: 50%;
	}
	.bottom-4 .bottom-images{
		padding-top: 30px;
	}
  .supporters-text {
		font-size: 34px;
	}
	.bottom-4 p{
		margin: 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
	}
	/*.bottom-4 p:first-of-type{
		text-align: left;
		position: relative;
		margin-top: 200px;
	}*/

}
/*Footer section end*/